.delete_concert {
  padding: 0 1rem;
  background-image: linear-gradient(
    to top left,
    rgb(219, 49, 49),
    rgb(228, 72, 72)
  );
  border-radius: 1rem;

  grid-row: 4 / span 1;
}

.delete_display {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: repeat(2, 2.5rem);
  grid-gap: 1rem;
}

.input {
  border: none;
  background-color: inherit;
  border-bottom: 0.12rem solid rgb(179, 172, 172);
}

.input:focus {
  outline: none;
  border-bottom: 0.12rem solid #333;
}

.btn_form_delete {
  border: none;
  color: #333;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.btn_form_delete span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}
.btn_form_delete:hover {
  color: #333;
}
.btn_form_delete:focus {
  outline: none;
  border: 1px solid #333;
}
.btn_form_delete:hover span {
  margin-left: 8px;
}
